<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadDisplayName</key>
    <string>Restrictions</string>
    <key>PayloadDescription</key>
    <string>Recette pour définir les restrictions de l'appareil</string>
    <key>PayloadIdentifier</key>
    <string>com.hackndo.plist</string>
    <key>PayloadOrganization</key>
    <string>hackndo</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
    <key>PayloadUUID</key>
    <string>@UUID</string>
	<key>inputs</key>
	<array>
        <dict>
			<key>type</key>
			<string>group</string>
			<key>title</key>
			<string>Fonctionnalité de l'appareil</string>
			<key>content</key>
			<array>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser l'installation d'applications</string>
                    <key>key</key>
                    <string>allowAppInstallation</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>group</string>
                    <key>title</key>
                    <string>Appareil photo</string>
                    <key>content</key>
                    <array>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser l'utilisation de l'appareil photo</string>
                            <key>key</key>
                            <string>allowCamera</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser FaceTime</string>
                            <key>key</key>
                            <string>allowVideoConferencing</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Permettre la capture d'écran</string>
                    <key>key</key>
                    <string>allowScreenShot</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser la synchronisation automatique lors du roaming</string>
                    <key>key</key>
                    <string>allowGlobalBackgroundFetchWhenRoaming</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>group</string>
                    <key>title</key>
                    <string>Siri</string>
                    <key>content</key>
                    <array>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser Siri</string>
                            <key>key</key>
                            <string>allowAssistant</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser Siri lorsque l'appareil est vérouillé</string>
                            <key>key</key>
                            <string>allowAssistantWhileLocked</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                    </array>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser la composition vocale</string>
                    <key>key</key>
                    <string>allowVoiceDialing</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                         <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser les achats intégrés</string>
                    <key>key</key>
                    <string>allowInAppPurchases</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser les jeux multijoueurs</string>
                    <key>key</key>
                    <string>allowMultiplayerGaming</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Forcer l'utilisateur à saisir son mot de passe iTunes Store pour tous les achats</string>
                    <key>key</key>
                    <string>forceITunesStorePasswordEntry</string>
                    <key>default_value</key>
                    <false/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser l'ajout d'amis Game Center</string>
                    <key>key</key>
                    <string>allowAddingGameCenterFriends</string>
                    <key>default_value</key>
                    <true/>
                </dict>
            </array>
        </dict>

        <dict>
            <key>type</key>
            <string>group</string>
            <key>title</key>
            <string>Applications</string>
            <key>content</key>
            <array>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser l'utilisation de Youtube</string>
                    <key>key</key>
                    <string>allowYouTube</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser l'utilisation de l'iTunes Store</string>
                    <key>key</key>
                    <string>allowiTunes</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>group</string>
                    <key>title</key>
                    <string>Safari</string>
                    <key>content</key>
                    <array>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser l'utilisation de Safari</string>
                            <key>key</key>
                            <string>allowSafari</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser le remplissage automatique</string>
                            <key>key</key>
                            <string>safariAllowAutoFill</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Forcer l'alerte de fraude</string>
                            <key>key</key>
                            <string>safariForceFraudWarning</string>
                            <key>default_value</key>
                            <false/>
                        </dict>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Activer Javascript</string>
                            <key>key</key>
                            <string>safariAllowJavaScript</string>
                            <key>default_value</key>
                            <true/>
                        </dict>
                        <dict>
                            <key>type</key>
                            <string>boolean</string>
                            <key>title</key>
                            <string>Autoriser les fenêtres surgissantes</string>
                            <key>key</key>
                            <string>safariAllowPopups</string>
                            <key>default_value</key>
                            <true/>
                        </dict>

                        <dict>
                            <key>type</key>
                            <string>list</string>
                            <key>type_value</key>
                            <string>integer</string>
                            <key>title</key>
                            <string>Accepter les cookies</string>
                            <key>key</key>
                            <string>safariAcceptCookies</string>
                            <key>values</key>
                            <array>
                                <dict>
                                    <key>value</key>
                                    <string>2</string>
                                    <key>title</key>
                                    <string>Toujours</string>
                                </dict>
                                <dict>
                                    <key>value</key>
                                    <string>1</string>
                                    <key>title</key>
                                    <string>des sites visités</string>
                                </dict>
                                <dict>
                                    <key>value</key>
                                    <string>0</string>
                                    <key>title</key>
                                    <string>Jamais</string>
                                </dict>
                            </array>
                            <key>required</key>
                            <true/>
                        </dict>
                    </array>
                </dict>
            </array>
        </dict>

        <dict>
            <key>type</key>
            <string>group</string>
            <key>title</key>
            <string>iCloud</string>
            <key>content</key>
            <array>
                         <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser la sauvegarde</string>
                    <key>key</key>
                    <string>allowCloudBackup</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser la synchronisation de documents</string>
                    <key>key</key>
                    <string>allowCloudDocumentSync</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser Flux de photos (ne pas l'autoriser risque de provoquer une perte de données)</string>
                    <key>key</key>
                    <string>allowPhotoStream</string>
                    <key>default_value</key>
                    <true/>
                </dict>
            </array>
        </dict>

        <dict>
			<key>type</key>
			<string>group</string>
			<key>title</key>
			<string>Sécurité de confidentialité</string>
			<key>content</key>
			<array>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser l'envoi de données de diagnostic à Apple</string>
                    <key>key</key>
                    <string>allowDiagnosticSubmission</string>
                    <key>default_value</key>
                    <true/>
                </dict>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser l'utilisateur à accepter des certificats TLS non fiables</string>
                    <key>key</key>
                    <string>allowUntrustedTLSPrompt</string>
                    <key>default_value</key>
                    <true/>
                </dict>

                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Forcer les copies de sauvegardes chiffrées</string>
                    <key>key</key>
                    <string>forceEncryptedBackup</string>
                    <key>default_value</key>
                    <false/>
                </dict>
            </array>
        </dict>

        <dict>
			<key>type</key>
			<string>group</string>
			<key>title</key>
			<string>Classement du contenu</string>
			<key>content</key>
			<array>
                <dict>
                    <key>type</key>
                    <string>boolean</string>
                    <key>title</key>
                    <string>Autoriser la musique et les podcasts explicites</string>
                    <key>key</key>
                    <string>allowExplicitContent</string>
                    <key>default_value</key>
                    <true/>
                </dict>
            </array>
        </dict>

        <dict>
			<key>type</key>
			<string>group</string>
			<key>title</key>
			<string>Séquence de classements</string>
			<key>content</key>
			<array>
                <dict>
					<key>type</key>
					<string>list</string>
					<key>title</key>
					<string> </string>
					<key>key</key>
					<string>ratingRegion</string>
					<key>values</key>
					<array>
						<dict>
							<key>value</key>
							<string>fr</string>
							<key>title</key>
							<string>France</string>
						</dict>
						<dict>
							<key>value</key>
							<string>us</string>
							<key>title</key>
							<string>Etats-Unis</string>
						</dict>
					</array>
				</dict>

			</array>
		</dict>

        <dict>
			<key>type</key>
			<string>group</string>
			<key>title</key>
			<string>Classement du contenu autorisé</string>
			<key>content</key>
			<array>
                <dict>
					<key>type</key>
					<string>list</string>
                    <key>type_value</key>
                    <string>integer</string>
					<key>title</key>
					<string>Films</string>
					<key>key</key>
					<string>ratingMovies</string>
					<key>values</key>
					<array>
                        <dict>
							<key>value</key>
							<integer>0</integer>
							<key>title</key>
							<string>Ne pas autoriser les films</string>
						</dict>
                        <dict>
							<key>value</key>
							<integer>100</integer>
							<key>title</key>
							<string>-10</string>
						</dict>
                        <dict>
							<key>value</key>
							<integer>200</integer>
							<key>title</key>
							<string>-12</string>
						</dict>
                        <dict>
							<key>value</key>
							<integer>500</integer>
							<key>title</key>
							<string>-16</string>
						</dict>
                        <dict>
							<key>value</key>
							<integer>600</integer>
							<key>title</key>
							<string>-18</string>
						</dict>
						<dict>
							<key>value</key>
							<integer>1000</integer>
							<key>title</key>
							<string>Autoriser tous les films</string>
						</dict>
					</array>
				</dict>
                <dict>
					<key>type</key>
					<string>list</string>
                    <key>type_value</key>
                    <string>integer</string>
					<key>title</key>
					<string>Séries TV</string>
					<key>key</key>
					<string>ratingTVShows</string>
					<key>values</key>
					<array>
                        <dict>
							<key>value</key>
							<string>0</string>
							<key>title</key>
							<string>Ne pas autoriser les séries TV</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>100</string>
							<key>title</key>
							<string>-10</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>200</string>
							<key>title</key>
							<string>-12</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>500</string>
							<key>title</key>
							<string>-16</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>600</string>
							<key>title</key>
							<string>-18</string>
						</dict>
						<dict>
							<key>value</key>
							<string>1000</string>
							<key>title</key>
							<string>Autoriser toutes les séries TV</string>
						</dict>
					</array>
				</dict>
                <dict>
					<key>type</key>
					<string>list</string>
                    <key>type_value</key>
                    <string>integer</string>
					<key>title</key>
					<string>Applications</string>
					<key>key</key>
					<string>ratingApps</string>
					<key>values</key>
					<array>
                        <dict>
							<key>value</key>
							<string>0</string>
							<key>title</key>
							<string>Ne pas autoriser les applications</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>100</string>
							<key>title</key>
							<string>4+</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>200</string>
							<key>title</key>
							<string>9+</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>300</string>
							<key>title</key>
							<string>12+</string>
						</dict>
                        <dict>
							<key>value</key>
							<string>600</string>
							<key>title</key>
							<string>17+</string>
						</dict>
						<dict>
							<key>value</key>
							<string>1000</string>
							<key>title</key>
							<string>Autoriser toutes les applications</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>outputs</key>
	<dict>
		<key>allowAddingGameCenterFriends</key>
        <string>$allowAddingGameCenterFriends?</string>
        <key>allowAppInstallation</key>
        <string>$allowAppInstallation?</string>
        <key>allowAssistant</key>
        <string>$allowAssistant?</string>
        <key>allowAssistantWhileLocked</key>
        <string>$allowAssistantWhileLocked?</string>
        <key>allowCamera</key>
        <string>$allowCamera?</string>
        <key>allowCloudBackup</key>
        <string>$allowCloudBackup?</string>
        <key>allowCloudDocumentSync</key>
        <string>$allowCloudDocumentSync?</string>
        <key>allowDiagnosticSubmission</key>
        <string>$allowDiagnosticSubmission?</string>
        <key>allowExplicitContent</key>
        <string>$allowExplicitContent?</string>
        <key>allowGlobalBackgroundFetchWhenRoaming</key>
        <string>$allowGlobalBackgroundFetchWhenRoaming?</string>
        <key>allowInAppPurchases</key>
        <string>$allowInAppPurchases?</string>
        <key>allowMultiplayerGaming</key>
        <string>$allowMultiplayerGaming?</string>
        <key>allowPhotoStream</key>
        <string>$allowPhotoStream?</string>
        <key>allowSafari</key>
        <string>$allowSafari?</string>
        <key>allowScreenShot</key>
        <string>$allowScreenShot?</string>
        <key>allowUntrustedTLSPrompt</key>
        <string>$allowUntrustedTLSPrompt?</string>
        <key>allowVideoConferencing</key>
        <string>$allowVideoConferencing?</string>
        <key>allowVoiceDialing</key>
        <string>$allowVoiceDialing?</string>
        <key>allowYouTube</key>
        <string>$allowYouTube?</string>
        <key>allowiTunes</key>
        <string>$allowiTunes?</string>
        <key>forceEncryptedBackup</key>
        <string>$forceEncryptedBackup?</string>
        <key>forceITunesStorePasswordEntry</key>
        <string>$forceITunesStorePasswordEntry?</string>
        <key>ratingApps</key>
        <string>$ratingApps?</string>
        <key>ratingMovies</key>
        <string>$ratingMovies?</string>
        <key>ratingRegion</key>
        <string>$ratingRegion?</string>
        <key>ratingTVShows</key>
        <string>$ratingTVShows?</string>
        <key>safariAcceptCookies</key>
        <string>$safariAcceptCookies?</string>
        <key>safariAllowAutoFill</key>
        <string>$safariAllowAutoFill?</string>
        <key>safariAllowJavaScript</key>
        <string>$safariAllowJavaScript?</string>
        <key>safariAllowPopups</key>
        <string>$safariAllowPopups?</string>
        <key>safariForceFraudWarning</key>
        <string>$safariForceFraudWarning?</string>
        <key>PayloadType</key>
        <string>@com.apple.applicationaccess</string>
	</dict>
</dict>
</plist>