{% extends "base_template.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>{{ plist.plist.PayloadContent.0.PayloadDisplayName }} (ID : {{ plist.id }}) <a class="btn btn-primary btn-lg" href="{% url 'public_gate:property_list_download' plist.id %}"  >Download &raquo;</a></h2>
            <div>
                <h3>
                    Property List description
                </h3>
                <p>
                    {{ plist.plist.PayloadContent.0.PayloadDescription }}
                </p>
                <h3>
                    Recipe characteristics
                </h3>
                <table class="table table-striped table-condensed">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                {% load app_filters %}
                {% for key in plist.plist %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ plist.plist|get_item:key }}</td>
                    </tr>
                {% endfor %}
                </table>
                <h3>
                    Property List characteristics
                </h3>
                <table class="table table-striped table-condensed">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                {% load app_filters %}
                {% for key in plist.plist.PayloadContent.0 %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ plist.plist.PayloadContent.0|get_item:key }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
    </div>
</div>
{% endblock %}