{% extends "base_template.html" %}

{% block content %}
    <div class="row">
        <h2>Property Lists</h2>

        <table class="table table-striped">
            <th>
                <td>Name</td>
                <td>Description</td>
                <td>Status</td>
            </th>
            {% for plist in property_lists %}
                <tr>
                    <td>{{ plist.id }}</td>
                    <td><a href="{% url 'public_gate:property_list_detail' plist.id %}">{{ plist.payload_display_name }}</a></td>
                    <td>{{ plist.payload_description }}</td>
                    <td><a class="btn btn-primary btn-lg" href="{% url 'public_gate:property_list_download' plist.id %}" download="list_{{ plist.payload_uuid }}.plist" >Download &raquo;</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}