{% extends "base_template.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Property Lists{% if 'admin' in user.ldap_user.group_names %} <a class="btn btn-success" href="{% url 'public_gate:property_list_add' %}" >+ Add plist</a>{% endif %}</h2>

        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Category</th>
                <th>Group</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Download</th>
            </tr>
            {% for group, plists in property_lists.items %}
                {% for plist in plists %}
                    <tr>
                        <td>{{ plist.id }}</td>
                        <td>{{ plist.plist.PayloadDisplayName }}</td>
                        <td>{{ plist.group_name }}</td>
                        <td><a href="{% url 'public_gate:property_list_detail' plist.id %}">{{ plist.plist.PayloadContent.0.PayloadDisplayName }}</a></td>
                        <td>{{ plist.plist.PayloadContent.0.PayloadDescription }}</td>
                        <td>{{ plist.plist.PayloadContent.0.PayloadType }}</td>
                        <td><a class="btn btn-primary" href="{% url 'public_gate:property_list_download' plist.id %}" download="{{ plist.id }}.{{ plist.plist.PayloadType }}" >Download &raquo;</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}