{% extends "base_template.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h2>Users <a class="btn btn-success" href="{% url 'public_gate:user_add' %}" >+ Add user</a></h2>

        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Login</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td><a href="{% url 'public_gate:user_detail' user.id %}">{{ user.username }}</a></td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}